html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
}

.file-browsing-content {
    height: 100%;
    display: flex;
    font-family: 'Roboto', sans-serif;
}

.file-browsing-content>div {
    width: 50%;
    height: 100%;
}

.file-browsing-content .file-browsing-left-panel>div {
    margin-bottom: 20px;
}

.file-browsing-content .file-browsing-left-panel .confident {
    background: #9ef7b2
}

.file-browsing-content .file-browsing-right-panel {
    flex-direction: column;
}

.file-browsing-content .file-browsing-right-panel>div {
    /* height: 50%; */
}

.file-browsing-content .file-browsing-right-panel .file-selection-region .file-selection-region-header {
    background-color: #2196F3;
    color: white;
    margin: 0;
    font-weight: 400;
    padding: 20px;
}

.file-browsing-content .file-browsing-right-panel .file-selection-region .file-selection-region-content {
    padding: 25px;
    height: calc(100% - 77px);
    overflow: scroll;
}

.file-browsing-content .file-browsing-right-panel .file-selection-region .file-selection-region-content .file .material-icons {
    font-size: 80px;
    padding-bottom: 35px;
}

.file-browsing-content .file-browsing-left-panel {
    justify-content: center;
    display: flex;
    padding: 40px;
}

.file-browsing-content .file-browsing-left-panel .container {
    padding: 10px;
    border: #e4e4e4 1px solid;
    height: max-content;
}

.file-browsing-content .file-browsing-left-panel .container .title {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.file-browsing-content .file-browsing-left-panel .container>* {
    margin-bottom: 20px;
}

.file-browsing-content .file-browsing-left-panel>img {
    max-height: 100%;
    max-width: 100%;
}


/* right panel folder list */

.file {
    float: left;
    height: 152px;
    margin-right: 30px;
    margin-bottom: 30px;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
}

.file:hover p.cooltip {
    opacity: 1;
    top: 0;
}

.file img {
    width: 100px;
    height: 100px;
}

.file * {
    text-align: center;
}

.file i {
    margin: 0;
    font-size: 100px;
    color: #607D8B;
}

.file h1 {
    position: relative;
    display: block;
    top: -50px;
    font-size: 15px;
    font-weight: 400;
}

.file p.cooltip {
    position: relative;
    top: 5px;
    left: -50%;
    margin-left: 35px;
    background: #212121;
    font-size: 12px;
    color: white;
    border-radius: 4px;
    padding: 10px 20px;
    padding-right: 30px;
    width: 150px;
    opacity: 0;
}

.file p.cooltip:before {
    content: '';
    position: absolute;
    display: block;
    top: -4px;
    left: 50%;
    margin-left: -5px;
    height: 10px;
    width: 10px;
    border-radius: 2px;
    background-color: #212121;
    transform: rotate(45deg);
}


/*data*/

.file-browsing-content .file-browsing-right-panel .data-preview-region {
    margin: 30px;
}

.file-browsing-content .file-browsing-right-panel table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
}

.file-browsing-content .file-browsing-right-panel td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.file-browsing-content .file-browsing-right-panel tr:nth-child(even) {
    background-color: #dddddd;
}